.wrapper {
    position: relative;
    min-height: 100vh;
    padding-bottom: 8rem;
}

.menu.transition.visible {
    left: -35px;
}

.card-item-price {
    font-size: 20px;
    margin-left: auto;
}

.ui.grid {
    margin-top: 0;
}

.ui.card {
    width: 100%;
}

.ui.dropdown .menu>.divider {
    margin: 0;
}

.ui.segment {
    border: none;
    box-shadow: none;
}

.product-price-and-buttons {
    display: flex;
    align-items: center;
}

.item-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ui.items>.item>.content>.description {
    line-height: 1.8rem;
}

.item-detail-price, .item-detail-header {
    text-align: center;
}

.item-detail-header {
    display: block !important;
    font-size: 2rem !important;
    margin: 0.7rem 0 !important;
}

.item-detail-price {
    font-size: 1.5rem !important;
}

.item-detail-image {
    max-width: 400px !important;
    width: auto !important;
}

.spinner {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
    .ui.card {
        width: 350px;
    }
    .ui.grid>.column:not(.row) {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .item-detail-options {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item-quantity-input {
        margin: 0.7rem 0;
    }
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}